<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel = "stylesheet" href="/styles.css">
</head>
<body>
    <h1>Message Board</h1>
    
    <div class="post-container">
        <div>
            <a href="/new" class="new-post">New Post</a>
        </div>
    <% messages.map((message) => { %>
        <div class="post-block">
            <div class="post">
                <header>
                    <div class="user"><%=message.user %></div>
                    <div class="date"><%=message.added.toLocaleString() %></div>
                </header>
                <div class="text"><%=message.text %></div>
                
            </div>
            <div><a href="/<%=message.id %>" class="view-post">View</a></div>
        </div>
    <% }) %>
    </div>
    
</body>
</html>