<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
</head>
<body>
    <div>Author: <%= post.user %></div>
    <div>Msg: <%= post.text %></div>
    <div>Date: <%= post.added %></div>
</body>
</html>